build/

# Python
__pycache__/
*.py[cod]
*.log

# Notebook
*.ipynb_checkpoints/
tests/notebook/models/
tests/notebook/dataset/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Bash & Shell artifacts
*.sh~

# System
*.swp
*.bak
*.tmp

# Web
*.env
node_modules/

# 기타 자동 생성 파일
*.pt        # 모델 파일
*.sqlite3

